.Form{

    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 0.5px rgb(104, 104, 130) solid;
    padding-left: 3rem;
    padding-right: 3rem;
    align-items: center;
    border-radius: 10px;
}

.Form h2{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: clamp(1.5rem, 1.8vh, 2.4rem);
    font-weight: bold;
    color: rgb(211, 211, 245);
}

.Form .bloc{

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: left;
}

.Form .bloc label{

   font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: clamp(1rem, 1.8vh, 2.4rem);
    font-weight: bold;
    color: white; 
}

.Form .bloc .input{

   width: 18rem;
   padding: 0.3rem;
}

.Form button{
   
   background-color: ghostwhite;
   width: 15rem;
   padding: 1rem;
   color: rgb(56, 53, 49);
   border: 1px solid black;
   border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: clamp(1rem, 1.8vh, 2.4rem);
    font-weight: bold;
    align-items: center;
}

.Form button:hover{
   
   background-color: rgb(211, 211, 227);
   text-decoration: underline;
   transition: 0.6s;
   
}

.Form #bouton{
   
   background-color: ghostwhite;
   width: 12rem;
   padding: 1rem;
   color: rgb(56, 53, 49);
   border: 1px solid black;
   border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: clamp(0.8rem, 1.8vh, 2.4rem);
    font-weight: bold;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
}